.topheader {
    padding: 1vh 5vw;
    background-color: cornsilk;

    width: available;

    display: -webkit-flex; /* Safari */
    display: flex;
}

.contentheader {
    flex: 1;
}

.top {
    width: available;
    height: 10vh;

    display: -webkit-flex; /* Safari */
    display: flex;
}

.toptext {
    float: left;
    font-weight: bolder;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
}

.lefttext {
    text-align: start;
}

.centertext {
    text-align: center;
}

.righttext {
    text-align: end;
}

.grid-container {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: none;
    grid-gap: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px 5px 5px;
    height: max-content;
}

.underline {
    text-decoration: underline;
}
.form {
    margin: 10vw;
}